:root{
	--main-color: #e51429;
	--main-bg-color: #e51429;
	--sub-color: #084ea0;
	--sub-bg-color: #084ea0;
}

.text-red{color: #ff0000}
.error{color: #ff0000;}
a{text-decoration: none!important;}

table.vcenter>tbody>tr>td {vertical-align: middle;}


/*@font-face {
    font-family: cgb;
    src: url('../fonts/SFUClearGothicBold.TTF'), url('../fonts/SFUClearGothicBold.eot');
}*/

body {
    /*background-color: rgb(248, 248, 252);*/
    @extend .bg-white;
    font-family: Roboto, sans-serif;
    line-height: 1.25rem;
    color: rgb(51, 51, 51);
}


.transition {
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
}

.item-transform{
	transition: transform 0.3s ease 0s;
	&:hover{transform: scale(1.05);}
}


.main-bg-color{background-color: var(--main-bg-color);}

.bg-white{background-color: #fff;}

.cat-link-style{
	color: #000;
	font-size: 12px;
	font-weight: 600;
	/*border-radius: .5rem;*/
	&:hover{color: #1435c3; background-color: #f3f5fc;}
}

header{
	font-size: 14px;
	a{&:hover{text-decoration: none;color: #fff;}}

	@media only screen and (max-width : 575.98px) {
	    .header_2 {
	    	display: none!important;
	    }
	}

	.search-block{
		.form-group{margin-bottom: 0;}
		position: relative;
		.input-search{background-color: #F5F5F5;}
		.btn-search{
			background-color: #1435C3;
		    color: #fff;
		    position: absolute;
		    top: 0px;
		    right: 0;
		    border: 0;
		    height: 37px;
		    padding: 0 9px;
		    margin-right: 1px;
		    border-radius: 4px;
		}
	}

	.logo{width: 100px}
	h1{
		color: #4baa50;
		font-size: 2.3rem;
		font-weight: bold;
		text-transform: uppercase;
	}
	.header_2{
		
	}

	a{color: #fff;}
}

/*MENU*/
.main-menu {
	@extend .main-bg-color;

	.drop-menu-top{
		.btn-menu-toggle{
			background-color: var(--sub-bg-color);
			text-transform: uppercase;
			font-family: SVNAvoBold;
			font-size: 16px;
			color: #fff;
			display: block;
			width: 100%;
			border-radius: 0;
		}
	}
	.dropdown-menu{
		left: auto;
		padding: 0;
		margin: 0;
		background-color: none;

		.dropdown-item{
			@extend .cat-link-style;
		}

		.list-group-item{
			border: none;
			img{margin-right: .75rem;}
			padding: 0 1.25rem;
			a{
				display: block;
				padding: 12px 0;
			    text-transform: capitalize;
			    border-bottom: 1px dotted #e6e6e6;
			}	
		}
	}
	
	.nav-title{
		font-size: .75rem;
		a{
			text-decoration: none;
			min-width: 75px;
			color: #757575;
			&:hover{color: rgb(2, 77, 188)}
		}
	}

	.criteria_item{
		/*padding: 5px 0;*/
		.criteria_img img{
			max-width: 40px;
    		max-height: 35px;
		}

		.criteria_info {
			span{
				text-transform: uppercase;
			    color: #fff;
			    font: 12px RobotoBold;
			    overflow: hidden;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 1;	
			}
			p{
				color: #fff;
			    font: 12px RobotoRegular;
			    display: -webkit-box;
			    width: 100%;
			    margin-bottom: 0;
			    overflow: hidden;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 1;	
			}
			
		}
	}

	@media only screen and (max-width : 991.98px) {
	    .nav-title {
	    	display: none!important;
	    }
	}
	/*
	@media (min-width: 768px) and (max-width: 991.98px) {
	    .nav-title {
	    	display: none!important;
	    }
	}*/

	
}

/*END MENU*/




/*SLIDER*/
.slider{
	position: relative;

	.slide{
		img{
		    object-fit: cover;
		    /*transition: transform 0.3s ease 0s;*/
		}
	}
	
	.slider-menu{
		.list-group-item{
			border-top: none;
			border-bottom: none;
			img{margin-right: .75rem;}
			padding: 0 1.25rem;
			a{
				display: block;
				padding: 12px 0;
			    text-transform: capitalize;
			    border-bottom: 1px dotted #e6e6e6;
			}	
		}
	}

	/*@media (max-width: 575.98px) {
	    .slide img {height: 145px}
	}
	@media (min-width: 576px) and (max-width: 767.98px) {
		.slide img {height: 345px}
	}
	@media only screen and (max-width : 991.98px) {
		.slide img {height: 345px}
	    .slider-menu {
	    	display: none!important;
	    }
	}*/


}
/*END SLIDER*/
 

.promo-price{
	font-size: 15px;
	color: rgb(20, 53, 195);
	font-weight: 700;	
}
.old-price{
	font-size: 12px;
	.price{color: rgb(130, 134, 158);text-decoration: line-through;}
	.rate{color: rgb(20, 53, 195);}
}

/*PRODUCT*/
.promo-product{
	/*background-image: url('../images/bg/promo1.png');*/
	border-radius: 8px;

	.nav-pills{

	
	    .nav-item{
	    	/*&:not(:first-child):not(:last-child){
	    		.nav-link{
		    		border-radius: 0;	
	    		}
		    }*/

		    position: relative;    
		    &:not(:first-child)::before {
			    content: "";
			    width: 0px;
			    height: 0px;
			    border-left: 5px solid transparent;
			    border-right: 5px solid transparent;
			    border-top: 5px solid white;
			    position: absolute;
			    left: -5px;
			    top: 0px;
			}

			.nav-link{
				height: 60px;
				color: #848788;
			    background: #fff;
			    font-weight: 700;
			    border-radius: 5px 5px 0 0;

			    .subtitle{font-weight: 500;}

			    &.active{
				    color: #fff;
				    background: transparent;  
				}
			}
		}
	}

	.promo-note{
		color: #fff;
		font-size: 1rem;
		font-weight: 600;
	}

	.countdown{
	    padding: 8px;
	    font-size: 20px;
	    align-items: center;
	    font-weight: bold;
	    margin-right: 8px;
	    color: white;
	    border-radius: 5px;
	    background-image: linear-gradient(rgb(74, 74, 74), rgb(35, 34, 34))
	}

	.tab-content{

		.show-more{text-decoration: none; color: #fff;}

		.promo-item{
			
			@extend .bg-white;
    		border-radius: 0.5rem;

    		figure{
    			margin-bottom: .5rem;
    			figcaption{
	    			font-size: 12px;
	    			color: rgb(67, 70, 87);
	    			height: 40px;
	    			overflow: hidden;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2;
	    		}
	    		
	    		img{
	    			/*width: 100%;
				    height: 100%;
				    object-fit: contain;*/
				    @extend .item-transform;
	    		}
    		}

		}
	}
}

.block{
	.block-title{
		
		padding-bottom: .75rem;
		border-bottom: 2px solid #ebebeb;
		text-transform: uppercase;
	    font: 1.5rem SVNAvoBold;
	    font-weight: 700;
	    color: #252525;
	    position: relative;

	    a{
	    	font: 14px RobotoRegular;
    		color: #084ea0;
	    }

    	&:after{
    		position: absolute;
		    content: '';
		    left: 0;
		    bottom: 0;
		    width: 70px;
		    height: 2px;
		    background: #e51429;	
    	}
	}
}

.brand{
	@extend .bg-white;
	border-radius: 8px;

	.brand-item{
		
		font-size: 15px;
		figure{
			height: 145px;
			border-radius: 8px;
			overflow: hidden;
			margin-bottom: 0;
			
			img{
				/*height: 145px;*/
				/*object-fit: fill;*/
				@extend .item-transform;
			}
		}
		.subtitle{
			color: rgb(51, 51, 51);
			font-weight: 600;
		}	
	}
}


/*BEST SELL*/
.best-sell{
	
	@extend .bg-white;

    .block-title{

    }

    .best-sell-item{
    	@extend .bg-white;
    	border-radius: 8px;
    	
    	figure{
			margin-bottom: .5rem;
			overflow: hidden;
			
			img{
				border-radius: 5px;
				transition: transform 0.3s ease 0s;
				@extend .item-transform;
			}
			
			figcaption{
				margin-top: .75rem;
				text-transform: capitalize;
				text-align: center;
    			font: 14px 'RobotoRegular';
    			color: #000;
    			overflow: hidden;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 1;
    		}
		}

		.price-block{
			font: 1rem SVNAvoBold;
			a{
				color: var(--main-color);
				&:hover{
					color: var(--sub-color);
				}
			}
		}
		.addcart{
			margin-top: .75rem;
			padding: 10px 5px;
			width: 100%;
			background-color: var(--sub-bg-color);
			border-radius: 5px;
			color: #fff;
			text-transform: uppercase;
			font: 1rem RobotoBold;
			&:hover{
				background-color: var(--main-bg-color);
			}
		}

    }
}
/*END BEST SELL*/


/*HOME NEWS*/
.bg-warp{
	background-image: url('../images/bg/bgtt.png');
	background-size: cover!important;
    background-repeat: no-repeat!important;
}
.home-news{
	
    border-radius: 8px;

    .vert{
		width: auto;
		
		.simply-scroll-clip {
		    width: auto;
		    li{
			    width: auto;
			    height: auto;
			    margin-bottom: 1rem
			}
		}
		h5{
			font: 15px RobotoBold;
    		color: #2e2e2e;
    		font-weight: bold;
		}
		p{
			font: 14px RobotoRegular;
    		color: #5a5a5a;
    		margin-bottom: 0;
		}

	}
	
    .product-cus-item{
    	@extend .bg-white;
    	border-radius: 8px;
    	padding: 1rem;
    	figure{
			margin-bottom: .5rem;
			
			img{
				transition: transform 0.3s ease 0s;
				@extend .item-transform;
			}

			figcaption{
    			font-size: 12px;
    			color: rgb(67, 70, 87);
    			height: 40px;
    			overflow: hidden;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
    		}
		}
    }
}
/*END HOME NEWS*/


/*PARTNER*/
.partner{
	figure{
		margin-bottom: .5rem;
		overflow: hidden;
		border: 1px dotted #aeaeae;
		
		img{
			/*width: 100%;
		    height: 100%;
		    object-fit: contain;*/
		    @extend .item-transform;
		}
	}
}
/*END PARTNER*/

/*PRODUCT DETAIL*/
.product-detail{

	.product-sumary{
		
		@extend .bg-white;
	    border-radius: 8px;

	    h1{
	    	font-size: 1.25rem;
	    	font-weight: 500;
	    	line-height: 1.33;
	    }

	    .promo-price{font-size: 1.25rem;}
	    .old-price{font-size: .75rem;}

	    .byproduct{
	    	background-color: #fbfbfd;
		    border: 1px solid #e4e5f0;
		    box-sizing: border-box;
		    border-radius: 8px;
		    padding: 10px;
		    margin-top: 8px;
		    font-size: .75rem;
	    }

	    .promo-block{
	    	border-top: 1px dashed #e0e0e0;
	    	margin-top: 1rem;
	    	padding-top: .75rem;
	    	font-size: .875rem;
	    }
    }

    .product-policy{
		@extend .bg-white;
		border-radius: 8px;
		line-height: 24px;
		font-size: .875rem;

		.benefit{
			color: #53c305;
			font-size: .875rem;
			padding-bottom: .75rem;
			border-bottom: 1px dashed #e0e0e0;
		}
		.subtitle{
			margin-top: 1rem;
			margin-bottom: .5rem;
			font-size: 15px;
    		font-weight: 600;
    		line-height: 24px;
		}
		
	}

	.product-content{
		
		@extend .bg-white;
	    border-radius: 8px;

	    h2{
	    	font-size: 1rem;
	    	line-height: 1.33;
	    }
	}
	.product-feature{
		@extend .bg-white;
	    border-radius: 8px;
	}
}
/*END PRODUCT DETAIL*/


/*CART*/
.cart{
	
	.block-title{
		font-size: 24px;
		font-weight: bold;
		color: rgb(51, 51, 51);
	}
	img{
		border: 1px solid rgb(228, 229, 240);
	}
	table tr td{vertical-align: middle;}

	.block-1{
		img{border-radius: 50%;    object-fit: contain;}
		i{color: rgb(48, 205, 96);}
	}

	.checkout{
		background-color: rgb(20, 53, 195);
		border-radius: 4px;
		color: #fff;
		font-size: 14px;
		width: 100%;
		padding: 0.4rem 1rem;
	}

	.btn-active{
		background-color: rgb(20, 53, 195)!important;
		color: #fff;
	}
}
/*END CART*/

/*CONTACT*/
.contact-page{
	.row-divine{
		&:not(:last-child){
			border-bottom: 1px solid #ebebeb;
			padding-bottom: 20px;
		}
		&:not(:first-child){
    		padding-top: 10px;
	    }
	}
	.block{
		@extend .bg-white;
		border-radius: 10px;
		-webkit-box-shadow: 0 0 5px #999;
    	box-shadow: 0 0 5px #999;
    	img{border-radius: 6px;}
    	.contact-title{
    		color: #d42333;
    		font-size: 1rem;
    		font-weight: 600;
    		margin-bottom: 7px;
    	}

    	.contact-title-bn{
    		font-weight: 600;
    		margin-bottom: 10px;
    	}

    	iframe{border: 0;border-radius: 6px;}
    	.contact-map-block{
		    position: relative;
		    display: block;
		    height: 300px;
		    width: 100%;
		    margin-top: 5px;

		    img{
		    	height: 100%;
		    }

		    >span{
		    	position: absolute;
			    top: 0;
			    bottom: 0;
			    left: 0;
			    right: 0;
			    background-color: rgba(0, 0, 0, 0);
			    color: transparent;
			    -webkit-transition: 0.5s;
			    transition: 0.5s;
			    border-radius: 4px;
			    text-align: center;
			    padding-top: 25%;
			    font-size: 18px;
			    &:hover{
			    	background-color: rgba(0, 0, 0, 0.5);
    				color: white;
			    }
		    }
    	}
    	.company-title{
    		color: #2d3877;
    		margin-bottom: 10px;
    	}
	}

	.showroom{
		h2{
			font-size: 2rem;
			margin: 1rem 0;
		}
		p{
			margin-bottom: 0;
			font-weight: 500;
		}

		.store-block{
			&:nth-child(odd){
				border-right: 1px solid #ebebeb;	
			}
    		border-bottom: 1px solid #ebebeb;
    		padding: 1rem;

			.store-title{
				span {
					display: inline-block;
				    color: #fff;
				    background: #2d3877;
				    border-radius: 50%;
				    width: 35px;
				    min-width: 35px;
				    height: 35px;
				    min-height: 35px;
				    line-height: 35px;
				    text-align: center;
				    
				    margin: 0 5px 10px 0;
				}	
			}
		}
	}
}
/*END CONTACT*/

.web-title-block{
	margin-left: .5rem;
	.web-title{
		font-size: 1.75rem;
		font-weight: 700;
		color: #e51429;
		margin-bottom: 0;
	}
	p{
		font-size: 1.5rem;
		font-weight: 700;
		margin-bottom: 0;
	}
	text-align: center;
}

/*FOOTER*/
footer{
	background-color: #f7f7f7;
	font: 14px RobotoRegular;

	a{
		color: #434657;
		&:hover{text-decoration: none;}
	}

	ul li{line-height: 1.5rem;}

	.block{
		.block-title{
			margin-bottom: 1rem;
			font: 14px RobotoRegular;
		}
	}

	.links li{
		margin-bottom: 1rem;
		i {
		    padding-right: 1.5rem;
		}
	}
	.xembando {
	    padding: 11px 20px 11px 50px;
	    background: #084ea0 url(../images/map.png) left 2px center no-repeat;
	    color: #fff;
	    font: 14px RobotoBold;
	    text-transform: uppercase;
	    border-radius: 25px;
	    display: inline-block;
	}
	.mangxahoi_footer a {
	    margin: 0 5px 0 0;
	}
	.mangxahoi_footer a img:hover, .zalo-share-button:hover {
	    transform: translateY(-5px);
	    -webkit-transition: all 0.5s ease;
	    transition: all 0.5s ease;
	}
	.footer-tags{
		background: #fff;
		padding: 1.5rem;
		border-radius: 10px;
		p{
			text-transform: uppercase;
			display: inline-block;
			font: 14px RobotoBold;
			color: #e51429;
			margin-bottom: 0;
		}
		a{
			font: 14px RobotoRegular;
    		color: #1b1b1b;
		}
		span{
			padding: 0px 5px;
    		font-style: italic;
		}
	}
}
/*END FOOTER*/

