:root {
  --main-color: #e51429;
  --main-bg-color: #e51429;
  --sub-color: #084ea0;
  --sub-bg-color: #084ea0; }

.text-red {
  color: #ff0000; }

.error {
  color: #ff0000; }

a {
  text-decoration: none !important; }

table.vcenter > tbody > tr > td {
  vertical-align: middle; }

/*@font-face {
    font-family: cgb;
    src: url('../fonts/SFUClearGothicBold.TTF'), url('../fonts/SFUClearGothicBold.eot');
}*/
body {
  /*background-color: rgb(248, 248, 252);*/
  font-family: Roboto, sans-serif;
  line-height: 1.25rem;
  color: #333333; }

.transition {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear; }

.item-transform, .promo-product .tab-content .promo-item figure img, .brand .brand-item figure img, .best-sell .best-sell-item figure img, .home-news .product-cus-item figure img, .partner figure img {
  transition: transform 0.3s ease 0s; }
  .item-transform:hover, .promo-product .tab-content .promo-item figure img:hover, .brand .brand-item figure img:hover, .best-sell .best-sell-item figure img:hover, .home-news .product-cus-item figure img:hover, .partner figure img:hover {
    transform: scale(1.05); }

.main-bg-color, .main-menu {
  background-color: var(--main-bg-color); }

.bg-white, body, .promo-product .tab-content .promo-item, .brand, .best-sell, .best-sell .best-sell-item, .home-news .product-cus-item, .product-detail .product-sumary, .product-detail .product-policy, .product-detail .product-content, .product-detail .product-feature, .contact-page .block {
  background-color: #fff; }

.cat-link-style, .main-menu .dropdown-menu .dropdown-item {
  color: #000;
  font-size: 12px;
  font-weight: 600;
  /*border-radius: .5rem;*/ }
  .cat-link-style:hover, .main-menu .dropdown-menu .dropdown-item:hover {
    color: #1435c3;
    background-color: #f3f5fc; }

header {
  font-size: 14px; }
  header a:hover {
    text-decoration: none;
    color: #fff; }
  @media only screen and (max-width: 575.98px) {
    header .header_2 {
      display: none !important; } }
  header .search-block {
    position: relative; }
    header .search-block .form-group {
      margin-bottom: 0; }
    header .search-block .input-search {
      background-color: #F5F5F5; }
    header .search-block .btn-search {
      background-color: #1435C3;
      color: #fff;
      position: absolute;
      top: 0px;
      right: 0;
      border: 0;
      height: 37px;
      padding: 0 9px;
      margin-right: 1px;
      border-radius: 4px; }
  header .logo {
    width: 100px; }
  header h1 {
    color: #4baa50;
    font-size: 2.3rem;
    font-weight: bold;
    text-transform: uppercase; }
  header a {
    color: #fff; }

/*MENU*/
.main-menu {
  /*
  @media (min-width: 768px) and (max-width: 991.98px) {
      .nav-title {
      	display: none!important;
      }
  }*/ }
  .main-menu .drop-menu-top .btn-menu-toggle {
    background-color: var(--sub-bg-color);
    text-transform: uppercase;
    font-family: SVNAvoBold;
    font-size: 16px;
    color: #fff;
    display: block;
    width: 100%;
    border-radius: 0; }
  .main-menu .dropdown-menu {
    left: auto;
    padding: 0;
    margin: 0;
    background-color: none; }
    .main-menu .dropdown-menu .list-group-item {
      border: none;
      padding: 0 1.25rem; }
      .main-menu .dropdown-menu .list-group-item img {
        margin-right: .75rem; }
      .main-menu .dropdown-menu .list-group-item a {
        display: block;
        padding: 12px 0;
        text-transform: capitalize;
        border-bottom: 1px dotted #e6e6e6; }
  .main-menu .nav-title {
    font-size: .75rem; }
    .main-menu .nav-title a {
      text-decoration: none;
      min-width: 75px;
      color: #757575; }
      .main-menu .nav-title a:hover {
        color: #024dbc; }
  .main-menu .criteria_item {
    /*padding: 5px 0;*/ }
    .main-menu .criteria_item .criteria_img img {
      max-width: 40px;
      max-height: 35px; }
    .main-menu .criteria_item .criteria_info span {
      text-transform: uppercase;
      color: #fff;
      font: 12px RobotoBold;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1; }
    .main-menu .criteria_item .criteria_info p {
      color: #fff;
      font: 12px RobotoRegular;
      display: -webkit-box;
      width: 100%;
      margin-bottom: 0;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1; }
  @media only screen and (max-width: 991.98px) {
    .main-menu .nav-title {
      display: none !important; } }

/*END MENU*/
/*SLIDER*/
.slider {
  position: relative;
  /*@media (max-width: 575.98px) {
      .slide img {height: 145px}
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
  	.slide img {height: 345px}
  }
  @media only screen and (max-width : 991.98px) {
  	.slide img {height: 345px}
      .slider-menu {
      	display: none!important;
      }
  }*/ }
  .slider .slide img {
    object-fit: cover;
    /*transition: transform 0.3s ease 0s;*/ }
  .slider .slider-menu .list-group-item {
    border-top: none;
    border-bottom: none;
    padding: 0 1.25rem; }
    .slider .slider-menu .list-group-item img {
      margin-right: .75rem; }
    .slider .slider-menu .list-group-item a {
      display: block;
      padding: 12px 0;
      text-transform: capitalize;
      border-bottom: 1px dotted #e6e6e6; }

/*END SLIDER*/
.promo-price {
  font-size: 15px;
  color: #1435c3;
  font-weight: 700; }

.old-price {
  font-size: 12px; }
  .old-price .price {
    color: #82869e;
    text-decoration: line-through; }
  .old-price .rate {
    color: #1435c3; }

/*PRODUCT*/
.promo-product {
  /*background-image: url('../images/bg/promo1.png');*/
  border-radius: 8px; }
  .promo-product .nav-pills .nav-item {
    	/*&:not(:first-child):not(:last-child){
    		.nav-link{
	    		border-radius: 0;	
    		}
	    }*/
    position: relative; }
    .promo-product .nav-pills .nav-item:not(:first-child)::before {
      content: "";
      width: 0px;
      height: 0px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid white;
      position: absolute;
      left: -5px;
      top: 0px; }
    .promo-product .nav-pills .nav-item .nav-link {
      height: 60px;
      color: #848788;
      background: #fff;
      font-weight: 700;
      border-radius: 5px 5px 0 0; }
      .promo-product .nav-pills .nav-item .nav-link .subtitle {
        font-weight: 500; }
      .promo-product .nav-pills .nav-item .nav-link.active {
        color: #fff;
        background: transparent; }
  .promo-product .promo-note {
    color: #fff;
    font-size: 1rem;
    font-weight: 600; }
  .promo-product .countdown {
    padding: 8px;
    font-size: 20px;
    align-items: center;
    font-weight: bold;
    margin-right: 8px;
    color: white;
    border-radius: 5px;
    background-image: linear-gradient(#4a4a4a, #232222); }
  .promo-product .tab-content .show-more {
    text-decoration: none;
    color: #fff; }
  .promo-product .tab-content .promo-item {
    border-radius: 0.5rem; }
    .promo-product .tab-content .promo-item figure {
      margin-bottom: .5rem; }
      .promo-product .tab-content .promo-item figure figcaption {
        font-size: 12px;
        color: #434657;
        height: 40px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; }
      .promo-product .tab-content .promo-item figure img {
    			/*width: 100%;
			    height: 100%;
			    object-fit: contain;*/ }

.block .block-title {
  padding-bottom: .75rem;
  border-bottom: 2px solid #ebebeb;
  text-transform: uppercase;
  font: 1.5rem SVNAvoBold;
  font-weight: 700;
  color: #252525;
  position: relative; }
  .block .block-title a {
    font: 14px RobotoRegular;
    color: #084ea0; }
  .block .block-title:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 70px;
    height: 2px;
    background: #e51429; }

.brand {
  border-radius: 8px; }
  .brand .brand-item {
    font-size: 15px; }
    .brand .brand-item figure {
      height: 145px;
      border-radius: 8px;
      overflow: hidden;
      margin-bottom: 0; }
      .brand .brand-item figure img {
        /*height: 145px;*/
        /*object-fit: fill;*/ }
    .brand .brand-item .subtitle {
      color: #333333;
      font-weight: 600; }

/*BEST SELL*/
.best-sell .best-sell-item {
  border-radius: 8px; }
  .best-sell .best-sell-item figure {
    margin-bottom: .5rem;
    overflow: hidden; }
    .best-sell .best-sell-item figure img {
      border-radius: 5px;
      transition: transform 0.3s ease 0s; }
    .best-sell .best-sell-item figure figcaption {
      margin-top: .75rem;
      text-transform: capitalize;
      text-align: center;
      font: 14px 'RobotoRegular';
      color: #000;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1; }
  .best-sell .best-sell-item .price-block {
    font: 1rem SVNAvoBold; }
    .best-sell .best-sell-item .price-block a {
      color: var(--main-color); }
      .best-sell .best-sell-item .price-block a:hover {
        color: var(--sub-color); }
  .best-sell .best-sell-item .addcart {
    margin-top: .75rem;
    padding: 10px 5px;
    width: 100%;
    background-color: var(--sub-bg-color);
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font: 1rem RobotoBold; }
    .best-sell .best-sell-item .addcart:hover {
      background-color: var(--main-bg-color); }

/*END BEST SELL*/
/*HOME NEWS*/
.bg-warp {
  background-image: url("../images/bg/bgtt.png");
  background-size: cover !important;
  background-repeat: no-repeat !important; }

.home-news {
  border-radius: 8px; }
  .home-news .vert {
    width: auto; }
    .home-news .vert .simply-scroll-clip {
      width: auto; }
      .home-news .vert .simply-scroll-clip li {
        width: auto;
        height: auto;
        margin-bottom: 1rem; }
    .home-news .vert h5 {
      font: 15px RobotoBold;
      color: #2e2e2e;
      font-weight: bold; }
    .home-news .vert p {
      font: 14px RobotoRegular;
      color: #5a5a5a;
      margin-bottom: 0; }
  .home-news .product-cus-item {
    border-radius: 8px;
    padding: 1rem; }
    .home-news .product-cus-item figure {
      margin-bottom: .5rem; }
      .home-news .product-cus-item figure img {
        transition: transform 0.3s ease 0s; }
      .home-news .product-cus-item figure figcaption {
        font-size: 12px;
        color: #434657;
        height: 40px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; }

/*END HOME NEWS*/
/*PARTNER*/
.partner figure {
  margin-bottom: .5rem;
  overflow: hidden;
  border: 1px dotted #aeaeae; }
  .partner figure img {
    	/*width: 100%;
        height: 100%;
        object-fit: contain;*/ }

/*END PARTNER*/
/*PRODUCT DETAIL*/
.product-detail .product-sumary {
  border-radius: 8px; }
  .product-detail .product-sumary h1 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.33; }
  .product-detail .product-sumary .promo-price {
    font-size: 1.25rem; }
  .product-detail .product-sumary .old-price {
    font-size: .75rem; }
  .product-detail .product-sumary .byproduct {
    background-color: #fbfbfd;
    border: 1px solid #e4e5f0;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px;
    margin-top: 8px;
    font-size: .75rem; }
  .product-detail .product-sumary .promo-block {
    border-top: 1px dashed #e0e0e0;
    margin-top: 1rem;
    padding-top: .75rem;
    font-size: .875rem; }
.product-detail .product-policy {
  border-radius: 8px;
  line-height: 24px;
  font-size: .875rem; }
  .product-detail .product-policy .benefit {
    color: #53c305;
    font-size: .875rem;
    padding-bottom: .75rem;
    border-bottom: 1px dashed #e0e0e0; }
  .product-detail .product-policy .subtitle {
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px; }
.product-detail .product-content {
  border-radius: 8px; }
  .product-detail .product-content h2 {
    font-size: 1rem;
    line-height: 1.33; }
.product-detail .product-feature {
  border-radius: 8px; }

/*END PRODUCT DETAIL*/
/*CART*/
.cart .block-title {
  font-size: 24px;
  font-weight: bold;
  color: #333333; }
.cart img {
  border: 1px solid #e4e5f0; }
.cart table tr td {
  vertical-align: middle; }
.cart .block-1 img {
  border-radius: 50%;
  object-fit: contain; }
.cart .block-1 i {
  color: #30cd60; }
.cart .checkout {
  background-color: #1435c3;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  width: 100%;
  padding: 0.4rem 1rem; }
.cart .btn-active {
  background-color: #1435c3 !important;
  color: #fff; }

/*END CART*/
/*CONTACT*/
.contact-page .row-divine:not(:last-child) {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 20px; }
.contact-page .row-divine:not(:first-child) {
  padding-top: 10px; }
.contact-page .block {
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px #999;
  box-shadow: 0 0 5px #999; }
  .contact-page .block img {
    border-radius: 6px; }
  .contact-page .block .contact-title {
    color: #d42333;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 7px; }
  .contact-page .block .contact-title-bn {
    font-weight: 600;
    margin-bottom: 10px; }
  .contact-page .block iframe {
    border: 0;
    border-radius: 6px; }
  .contact-page .block .contact-map-block {
    position: relative;
    display: block;
    height: 300px;
    width: 100%;
    margin-top: 5px; }
    .contact-page .block .contact-map-block img {
      height: 100%; }
    .contact-page .block .contact-map-block > span {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0);
      color: transparent;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      border-radius: 4px;
      text-align: center;
      padding-top: 25%;
      font-size: 18px; }
      .contact-page .block .contact-map-block > span:hover {
        background-color: rgba(0, 0, 0, 0.5);
        color: white; }
  .contact-page .block .company-title {
    color: #2d3877;
    margin-bottom: 10px; }
.contact-page .showroom h2 {
  font-size: 2rem;
  margin: 1rem 0; }
.contact-page .showroom p {
  margin-bottom: 0;
  font-weight: 500; }
.contact-page .showroom .store-block {
  border-bottom: 1px solid #ebebeb;
  padding: 1rem; }
  .contact-page .showroom .store-block:nth-child(odd) {
    border-right: 1px solid #ebebeb; }
  .contact-page .showroom .store-block .store-title span {
    display: inline-block;
    color: #fff;
    background: #2d3877;
    border-radius: 50%;
    width: 35px;
    min-width: 35px;
    height: 35px;
    min-height: 35px;
    line-height: 35px;
    text-align: center;
    margin: 0 5px 10px 0; }

/*END CONTACT*/
.web-title-block {
  margin-left: .5rem;
  text-align: center; }
  .web-title-block .web-title {
    font-size: 1.75rem;
    font-weight: 700;
    color: #e51429;
    margin-bottom: 0; }
  .web-title-block p {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0; }

/*FOOTER*/
footer {
  background-color: #f7f7f7;
  font: 14px RobotoRegular; }
  footer a {
    color: #434657; }
    footer a:hover {
      text-decoration: none; }
  footer ul li {
    line-height: 1.5rem; }
  footer .block .block-title {
    margin-bottom: 1rem;
    font: 14px RobotoRegular; }
  footer .links li {
    margin-bottom: 1rem; }
    footer .links li i {
      padding-right: 1.5rem; }
  footer .xembando {
    padding: 11px 20px 11px 50px;
    background: #084ea0 url(../images/map.png) left 2px center no-repeat;
    color: #fff;
    font: 14px RobotoBold;
    text-transform: uppercase;
    border-radius: 25px;
    display: inline-block; }
  footer .mangxahoi_footer a {
    margin: 0 5px 0 0; }
  footer .mangxahoi_footer a img:hover, footer .zalo-share-button:hover {
    transform: translateY(-5px);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  footer .footer-tags {
    background: #fff;
    padding: 1.5rem;
    border-radius: 10px; }
    footer .footer-tags p {
      text-transform: uppercase;
      display: inline-block;
      font: 14px RobotoBold;
      color: #e51429;
      margin-bottom: 0; }
    footer .footer-tags a {
      font: 14px RobotoRegular;
      color: #1b1b1b; }
    footer .footer-tags span {
      padding: 0px 5px;
      font-style: italic; }

/*END FOOTER*/

/*# sourceMappingURL=style.css.map */
