@font-face {
  font-family: cgb;
  src: url("../fonts/SFUClearGothicBold.TTF"), url("../fonts/SFUClearGothicBold.eot"); }
body {
  background-color: #f8f8fc;
  font-family: Roboto, sans-serif;
  line-height: 1.25rem;
  color: #333333; }

table.vcenter > tbody > tr > td {
  vertical-align: middle; }

.text-red {
  color: #ff0000; }

.error {
  color: #ff0000; }

.transition {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear; }

.item-transform, .promo-product .tab-content .promo-item figure img, .brand .brand-item figure img, .main-product figure img, .best-sell .best-sell-item figure img, .product-cus .product-cus-item figure img {
  transition: transform 0.3s ease 0s; }
  .item-transform:hover, .promo-product .tab-content .promo-item figure img:hover, .brand .brand-item figure img:hover, .main-product figure img:hover, .best-sell .best-sell-item figure img:hover, .product-cus .product-cus-item figure img:hover {
    transform: scale(1.05); }

.bg-white, .main-menu, .promo-product .tab-content .promo-item, .brand, .main-product .block, .main-product .grid-block .product-items, .best-sell .best-sell-item, .product-cus .product-cus-item, .fliter, footer .footer-cat {
  background-color: #fff; }

header {
  font-size: 14px; }
  header a:hover {
    text-decoration: none;
    color: #fff; }
  @media only screen and (max-width: 575.98px) {
    header .header_2 {
      display: none !important; } }

/*MENU*/
.main-menu {
  /*
  @media (min-width: 768px) and (max-width: 991.98px) {
      .nav-title {
      	display: none!important;
      }
  }*/ }
  .main-menu .dropdown-menu .dropdown-item {
    /*overflow: hidden;*/
    /*display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;*/ }
  .main-menu .drop-menu-top {
    display: none; }
  .main-menu .nav-title {
    font-size: .75rem; }
    .main-menu .nav-title a {
      text-decoration: none;
      min-width: 75px;
      color: #757575; }
      .main-menu .nav-title a:hover {
        color: #024dbc; }
  @media only screen and (max-width: 991.98px) {
    .main-menu .nav-title {
      display: none !important; } }
  .main-menu .search-block {
    position: relative; }
    .main-menu .search-block .form-group {
      margin-bottom: 0; }
    .main-menu .search-block .input-search {
      background-color: #F5F5F5; }
    .main-menu .search-block .btn-search {
      background-color: #1435C3;
      color: #fff;
      position: absolute;
      top: 0px;
      right: 0;
      border: 0;
      height: 37px;
      padding: 0 9px;
      margin-right: 1px;
      border-radius: 4px; }

/*END MENU*/
header .logo {
  width: 100px; }
header h1 {
  color: #4baa50;
  font-size: 2.3rem;
  font-weight: bold;
  text-transform: uppercase; }
header .header_2 {
  background-color: #1435C3; }
header a {
  color: #fff; }

.cat-link-style, .main-menu .dropdown-menu .dropdown-item, .slider .slider-menu .cat-block .cat-content {
  color: #000;
  font-size: 12px;
  font-weight: 600;
  border-radius: .5rem; }
  .cat-link-style:hover, .main-menu .dropdown-menu .dropdown-item:hover, .slider .slider-menu .cat-block .cat-content:hover {
    color: #1435c3;
    background-color: #f3f5fc; }

/*SLIDER*/
.slider {
  position: relative; }
  .slider a {
    text-decoration: none; }
  .slider .slide img {
    width: 100%;
    height: 566px;
    object-fit: cover;
    transition: transform 0.3s ease 0s; }
  .slider .slider-menu {
    height: 566px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto; }
    .slider .slider-menu .cat-block {
      background-color: #fff;
      border-radius: .5rem; }
      .slider .slider-menu .cat-block .cat-content {
        width: 100%;
        display: flex;
        -ms-flex-align: center !important;
        align-items: center !important;
        gap: .5rem;
        height: 2rem;
        padding: 0 .5rem; }
        .slider .slider-menu .cat-block .cat-content .cat-name {
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1; }
        .slider .slider-menu .cat-block .cat-content img {
          width: 22px;
          height: 22px; }
    .slider .slider-menu .sub-cat {
      height: 100%;
      background-color: #fff;
      border-radius: .5rem;
      overflow: hidden;
      /*display: none;*/
      /*visibility: hidden;*/ }
      .slider .slider-menu .sub-cat.active {
        visibility: visible;
        opacity: 1; }
      .slider .slider-menu .sub-cat .sub-cat-block {
        /*flex: 1 1 0%;*/
        column-count: 3;
        padding: 0.75rem; }
        .slider .slider-menu .sub-cat .sub-cat-block .sub-cat-group {
          margin-bottom: 1.5rem; }
        .slider .slider-menu .sub-cat .sub-cat-block .sub-cat-title {
          margin-bottom: .5rem;
          opacity: 1;
          background-color: transparent;
          color: #1435c3;
          font-weight: 700;
          text-decoration: unset;
          font-size: 15px;
          line-height: 24px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1; }
        .slider .slider-menu .sub-cat .sub-cat-block .css-vxgewf {
          color: #434657;
          margin-bottom: 4px; }
      .slider .slider-menu .sub-cat figure {
        margin-bottom: 0; }
  @media (max-width: 575.98px) {
    .slider .slide img {
      height: 145px; } }
  @media (min-width: 576px) and (max-width: 767.98px) {
    .slider .slide img {
      height: 345px; } }
  @media only screen and (max-width: 991.98px) {
    .slider .slide img {
      height: 345px; }
    .slider .slider-menu {
      display: none !important; } }

/*END SLIDER*/
/*PRODUCT*/
.promo-product {
  background-image: url("../images/bg/promo1.png");
  border-radius: 8px; }
  .promo-product .nav-pills .nav-item {
    	/*&:not(:first-child):not(:last-child){
    		.nav-link{
	    		border-radius: 0;	
    		}
	    }*/
    position: relative; }
    .promo-product .nav-pills .nav-item:not(:first-child)::before {
      content: "";
      width: 0px;
      height: 0px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid white;
      position: absolute;
      left: -5px;
      top: 0px; }
    .promo-product .nav-pills .nav-item .nav-link {
      height: 60px;
      color: #848788;
      background: #fff;
      font-weight: 700;
      border-radius: 5px 5px 0 0; }
      .promo-product .nav-pills .nav-item .nav-link .subtitle {
        font-weight: 500; }
      .promo-product .nav-pills .nav-item .nav-link.active {
        color: #fff;
        background: transparent; }
  .promo-product .promo-note {
    color: #fff;
    font-size: 1rem;
    font-weight: 600; }
  .promo-product .countdown {
    padding: 8px;
    font-size: 20px;
    align-items: center;
    font-weight: bold;
    margin-right: 8px;
    color: white;
    border-radius: 5px;
    background-image: linear-gradient(#4a4a4a, #232222); }
  .promo-product .tab-content .show-more {
    text-decoration: none;
    color: #fff; }
  .promo-product .tab-content .promo-item {
    border-radius: 0.5rem; }
    .promo-product .tab-content .promo-item a {
      text-decoration: none; }
    .promo-product .tab-content .promo-item figure {
      margin-bottom: .5rem; }
      .promo-product .tab-content .promo-item figure figcaption {
        font-size: 12px;
        color: #434657;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; }
      .promo-product .tab-content .promo-item figure img {
    			/*width: 100%;
			    height: 100%;
			    object-fit: contain;*/ }
    .promo-product .tab-content .promo-item .promo-price {
      font-size: 15px;
      color: #1435c3;
      font-weight: 700; }
    .promo-product .tab-content .promo-item .old-price {
      font-size: 12px; }
      .promo-product .tab-content .promo-item .old-price .price {
        color: #82869e;
        text-decoration: line-through; }
      .promo-product .tab-content .promo-item .old-price .rate {
        color: #1435c3; }

.block .block-title {
  border-left: solid 3.5px #1B1D29;
  font-size: 20px;
  font-weight: 700; }

.brand {
  border-radius: 8px; }
  .brand .brand-item {
    font-size: 15px; }
    .brand .brand-item a {
      text-decoration: none; }
    .brand .brand-item figure {
      height: 145px;
      border-radius: 8px;
      overflow: hidden;
      margin-bottom: 0; }
      .brand .brand-item figure img {
        /*height: 145px;*/
        /*object-fit: fill;*/ }
    .brand .brand-item .subtitle {
      color: #333333;
      font-weight: 600; }

/*MAIN PRODUCT*/
.main-product a {
  text-decoration: none; }
.main-product .block {
  border-radius: 8px; }
.main-product figure {
  margin-bottom: 0; }
.main-product .show-more {
  color: #82869e;
  font-size: 14px; }
.main-product .grid-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
  background-color: #e0e0e0; }
  .main-product .grid-block .product-items {
    color: #000;
    padding: 1rem; }
    .main-product .grid-block .product-items .title {
      font-weight: 600; }
    .main-product .grid-block .product-items small {
      margin-bottom: .5rem;
      font-weight: 400; }
    .main-product .grid-block .product-items figure {
      padding: .75rem; }
      .main-product .grid-block .product-items figure img {
        height: 110px; }
    .main-product .grid-block .product-items:hover {
      color: #1435c3; }

/*END MAIN PRODUCT*/
.best-sell {
  background-image: url("../images/bg-best-sell.png");
  border-radius: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top; }
  .best-sell a {
    text-decoration: none; }
  .best-sell .block-title {
    border-left: solid 3.5px #fff;
    color: #fff; }
  .best-sell .best-sell-item {
    border-radius: 8px;
    padding: 1rem; }
    .best-sell .best-sell-item figure {
      margin-bottom: .5rem; }
      .best-sell .best-sell-item figure img {
        transition: transform 0.3s ease 0s; }
      .best-sell .best-sell-item figure figcaption {
        font-size: 12px;
        color: #434657;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; }
    .best-sell .best-sell-item .promo-price {
      font-size: 15px;
      color: #1435c3;
      font-weight: 700; }
    .best-sell .best-sell-item .old-price {
      font-size: 12px; }
      .best-sell .best-sell-item .old-price .price {
        color: #82869e;
        text-decoration: line-through; }
      .best-sell .best-sell-item .old-price .rate {
        color: #1435c3; }

/*END PRODUCT*/
/*PRODUCT CUSTOMER*/
.product-cus {
  background-color: #fff;
  border-radius: 8px; }
  .product-cus a {
    text-decoration: none; }
  .product-cus .product-cus-item {
    border-radius: 8px;
    padding: 1rem; }
    .product-cus .product-cus-item figure {
      margin-bottom: .5rem; }
      .product-cus .product-cus-item figure img {
        transition: transform 0.3s ease 0s; }
      .product-cus .product-cus-item figure figcaption {
        font-size: 12px;
        color: #434657;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; }
    .product-cus .product-cus-item .promo-price {
      font-size: 15px;
      color: #1435c3;
      font-weight: 700; }
    .product-cus .product-cus-item .old-price {
      font-size: 12px; }
      .product-cus .product-cus-item .old-price .price {
        color: #82869e;
        text-decoration: line-through; }
      .product-cus .product-cus-item .old-price .rate {
        color: #1435c3; }

/*END PRODUCT CUSTOMER*/
.fliter .fliter-select {
  font-size: 14px;
  font-weight: 500;
  color: #1435c3; }
  .fliter .fliter-select .selected-tag {
    cursor: pointer;
    width: fit-content;
    border: 1px solid #1435c3;
    border-radius: 15px;
    background: #e6eeff !important;
    margin-right: 0.5rem;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    padding: 0px 12px;
    line-height: 29px;
    height: 30px; }
  .fliter .fliter-select .items-tag {
    color: #000;
    cursor: pointer;
    width: fit-content;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    margin-right: 0.5rem;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    padding: 1px 14px;
    line-height: 29px;
    height: 32px; }
    .fliter .fliter-select .items-tag:hover {
      background: #f3f3f3; }
    .fliter .fliter-select .items-tag.selected {
      border: 1px solid #1435c3;
      color: #1435c3; }

/*FOOTER*/
footer {
  border-top: solid 3px #1435C3;
  font-size: 12px; }
  footer a {
    color: #434657; }
    footer a:hover {
      text-decoration: none; }
  footer a.contact {
    color: #007bff; }
  footer .title {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px; }
  footer ul li {
    line-height: 1.5rem; }

/*END FOOTER*/

/*# sourceMappingURL=style.css.map */
